<h1 class="title">
  <%= @listing.title %>
</h1>

<% if @listing.main_image.attached? %>
  <%= cl_image_tag @listing.main_image.key, width: 300, cloud_name: 'dsshkpbix' %>
<% end %>
<p><%= @listing.body %></p>  
<p><%= @listing.address_line_1 %></p> 
<p><%= @listing.address_line_2 %></p>
<p><%= @listing.city %></p>
<p><%= @listing.postcode %></p>
<emphasis>$<%= @listing.price %></emphasis>
<h3>Posted by:</h3>
<% user_name = User.find(@listing.user_id).first_name + ' ' + User.find(@listing.user_id).last_name %>
<p><%= link_to user_name, user_path(@listing.user.id) %></p>