<h1 class="title">
  <%= @user.first_name %>
  <%= @user.last_name %>
</h1>

<% if @user.avatar.attached? %>
  <%= cl_image_tag @user.avatar.key, width: 300, cloud_name: 'dsshkpbix' %>
<% end %>
<p>Email: <%= @user.email %></p>  
<p>Birth date: <%= @user.birth_date %></p>
<p>Phone number: <%= @user.phone_number %></p>
<p>Bio: <%= @user.bio %></p>


<%= link_to 'Edit Profile', update_profile_path(params[:id]), class: "button is-light"%>
<%= link_to 'Account Settings', edit_user_registration_path, class: "button is-light" %>
