<h1 class="title">
  <%= @user.first_name %>
  <%= @user.last_name %>
</h1>

<% if @user.avatar.attached? %>
  <%= cl_image_tag @user.avatar.key %>
<% end %>
<p>Email: <%= @user.email %></p>  
<p>Birth date: <%= @user.birth_date %></p>
<p>Phone number: <%= @user.phone_number %></p>
<p>Bio: <%= @user.bio %></p>

<% if @user.id == current_user.id%>
  <%= link_to 'Edit Profile', edit_user_registration_path, class: "button is-light" %>
<% end %>