<h1>
  <%= @user.first_name %>
  <%= @user.last_name %>
</h1>

<p>Email: <%= @user.email %></p>
<p>Birth date: <%= @user.birth_date %></p>
<p>Phone number: <%= @user.phone_number %></p>
<p>Bio: <%= @user.bio %></p>
